h1{
    color: crimson;
    font-family: cursive;
    font-weight: 700;
    float: middle;
}
#spot-list{
    font-weight: 700;
    color: darkorange;
    margin: 20px;
    padding: 20px;
    font-size: medium;
    padding-bottom: none;
    margin-bottom: none;
}
ul{
    font-size: larger;
    color: darkseagreen;
}
 ol #n1{
     background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n2{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n3{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n4{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n5{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n6{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n7{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n8{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n9{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n10{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n11{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n12{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
ol #n13{
    background-color: salmon;
    color: yellow;
    border: 10px solid skyblue;
    padding: 20px;
}
.Meghla{
    color: darkcyan;
}
.p1{
    font-size: x-large;
}
b{
    color: brown;
    font-size: xx-large;
    float: center;
}
strong{
    font-size: 50px;
}
.Prantik{color: darkcyan;
}
.Soila-prapat{
    color: darkcyan;
}
.Chimbuk{
    color: darkcyan;
}
.Re-Song-Song{
    color: darkcyan;
}
.Boga-lake{
    color: darkcyan;
}
.Keokradong{
    color: darkcyan;
}
.Tazingdong{
    color: darkcyan;
}
.Mirinza{
    color: darkcyan;
}
.Nilachol{
    color: darkcyan;
}
.Nilgiri{
    color: darkcyan;
}
.p2{
    font-size: x-large;
}
.p3{
    font-size: x-large;
}
.p4{
    font-size: x-large;
}
.p5{
    font-size: x-large;
}
.p6{
    font-size: x-large;
}
.p7{
    font-size: x-large;
}
.p8{
    font-size: x-large;
}
.p9{
    font-size: x-large;
}
.p10{
    font-size: x-large;
}
.p11{
    font-size: x-large;
}
body{
    background: url(https://lh3.googleusercontent.com/proxy/r8o2-1-y5ytyl9-5er0bweOc_7Tf8DdvN3yoT98SG7ru5M1sEp6L2a7LdesVWGDg3fqsg8Ooe38OWcYyLfqfMI6RolJGXPC2cB2YiNXiVHuAEk3O6PpfFBd0HJIFoGajJ1oWuUatrxs-gfjJZ9n9vycjrNmvxg);
}
